@import '../../styles/colors.scss';

.changeWheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 0;
        width: 95vw;
        @media screen and (min-width: 768px) {
            width: 60vw;
        }
    }
    .description {
        width: 95vw;

        @media screen and (min-width: 768px) {
            width: 60vw;
        }
    }
    a {
        background-color: $yellow;
        color: black;
        font-weight: bold;
        padding: 1rem;
        border-radius: .5rem; 
        margin: 2rem;       
    }
}