@import "../../styles/colors.scss";
.nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $blue1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  z-index: 10;

  .section {
    position: relative;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      padding: .5rem;
      gap: .3rem;
      cursor: pointer;

      svg {
        width: .8rem;
        height: .8rem;
        transform: rotate(-0deg);
      }
    }

    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      width: max-content;
      background-color: white;
      border: 1px solid $blue1;
      gap: 1rem;
      color: black;
      border-radius: .3rem;
      right: 0;
    }
  }
}