.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  color: black;

  .title,
  .paragraph {
    width: 95vw;

    @media screen and (min-width: 768px) {
      width: 60vw;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;

  }


}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: black;

  h2,
  .reviewsContainer {
    width: 95vw;

    @media screen and (min-width: 768px) {
      width: 60vw;
    }
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 0;
  }

  .reviewsContainer {
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);

    }

    .review {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;

        h3 {
          padding: 1rem 0;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100%;

        h3 {
          font-size: 1.3rem;
          text-align: center;
          width: 100%;
          font-weight: bold;
          color: white;
          background-color: rgba(0, 0, 0, 0.484);
          backdrop-filter: blur(3px);
          transition: padding .5s;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }
      }
    }
  }
}

.products,
.spareParts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: black;

  .cardBox,
  .title,
  .description {
    width: 95vw;

    @media screen and (min-width: 768px) {
      width: 60vw;
    }
  }

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;

    @media screen and (min-width: 768px) {
      padding: 1rem 0;
    }
  }

  .cardBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
    place-items: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.spareParts {
  .partsBox {
    display: grid;
    grid-template-columns: 1fr;
    width: 95vw;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      width: 60vw;
    }

    .parts {
      height: 100%;
      width: 100%;
      h3 {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem 0;
        text-align: center;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}