.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: black;

  .title {
    font-weight: bold;
    font-size: 2em;
    padding: 2rem 1rem;
    line-height: 2.5rem;

    @media screen and (min-width: 768px) {
      padding: 3rem 1rem;
      width: 80vw;
    }
  }

  p {
    padding: 1rem;
    border-radius: 1rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 3rem;
      width: 80vw;
    }

    strong {
      font-weight: bold;
    }
  }

  .iframe {
    display: flex;
    flex-direction: column;
    gap: 5vh;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5vw;
      width: 80vw;
    }
  }
}